<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Name: {{ this.university.name }}</h1>
            <h2>Country Name: {{ this.university.country }}</h2>
            <h2>Country Code: {{ this.university.alpha_two_code }}</h2>
            <h2>State/Province: {{ this.university.country }}</h2>
            <h2>Webpage: {{ this.university.web_pages[0].WebPageUrl }}</h2>
            <h2>Domains: {{ this.university.domains[0].domainName }}</h2>
        </div>
    </div>
</div>